body {
    font-family: sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    background-color: rgb(57, 119, 252);
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
}

header nav a {
    text-decoration: none !important;
    color: black;
    font-size: large;
    padding: 20px;
}

header nav a:hover{
    color: aliceblue;
    transition: .4s;
}