body{
    background-color: aliceblue;
}

.container {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: black !important;
}
a:hover {
    color: black !important;
    text-decoration: none;
}

.tasks-container {
    width: 100%;
    border-radius: 10px;
}

.task {
    border-radius: 3px;
    box-shadow: 3px -2px 5px 0px rgba(0,0,0,0.59);
-webkit-box-shadow: 3px -2px 5px 0px rgba(0,0,0,0.59);
-moz-box-shadow: 3px -2px 5px 0px rgba(0,0,0,0.59);
padding: 3px;
}
