{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/tasks.css' %}">

<div class="container">
    <h1>Tasks</h1>
    <div class="btn-container">
    <a href="{% url 'create_task' project.id %}"><button class="btn-new_task btn btn-primary" onclick="">Crear</button></a>
    </div>
    <div class="tasks-container">
        {% for task in tasks %}
            <div class="task">
                <h3>{{task.title}}</h3>
                <p>{{task.description}}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}