{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/signin.css' %}">
<div class="form-container">
    <form method="post" class="form">
        {% csrf_token %}
        <h1 class="form-title">Sign up</h1>
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                {{form.username}}
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                {{form.password1}}
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                {{form.password2}}
            </div>
            <div class="form-group">
                <button type="submit">Signup</button>
            </div>
    </form>
</div>

{% endblock %}
